<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Folletico</title>
	<link rel="stylesheet" href="impresos.component.css">
	<meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
	<h1>Impresos</h1>
	<div class="container">
        <img src="../../../assets/impresos/242242630_4098115853651078_4985514715942206929_n.jpg" alt="Image 1">
        <img src="../../../assets/impresos/Afiche_Los_Animales_y_el_Titiritero_v3_copia.jpg" alt="Image 2">


   
    </div>
</body>
</html>