<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Folletico</title>
	<link rel="stylesheet" href="impresos.component.css">
	<meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
	<div class="contenedor">
		<header class=" header folleto">
			<div class="dlogo"><img class="logo-coto" src="../../../assets/impresos/242242630_4098115853651078_4985514715942206929_n.jpg" alt="logo Coto"></div>
			<div class="dias flex">
				<div class="de folleto2">
					<div class="dlogo"><img class="logo-coto" src="../../../assets/impresos/Afiche_Los_Animales_y_el_Titiritero_v3_copia.jpg" alt="logo Coto"></div>
					
				</div>
			</div>
		</header>
		<main>
			<div class="">
				<h1>las mejores ofertas en el Sena </h1>
            </div>
			
		</main>
		<footer>
			<p>ofertas de follestos en el sena galan.</p>
		</footer>
	</div>
	
</body>
</html>