<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div class="ful-img" id="fulImgBox">
          <img src="../../../assets/marca/Logo avifauna nuevo.png" id="fulImg" alt="">
          <span onclick="closeImg()">x</span>
     </div>
   <h1>Marca</h1>
   <div class="img-gallery">
     <img src="../../../assets/marca/Logo avifauna nuevo.png"  onclick="openFulImg(this.src)" alt="">
     <img src="../../../assets/marca/Logo laabuelagrillo nuevo.png" onclick="openFulImg(this.src)"  alt="">
     <img src="../../../assets/marca/Recurso 1.png" onclick="openFulImg(this.src)"  alt="">
   </div>

</body>
</html>
