<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- en este espacio estan los contenedores de header principal del home main -->
    <header> 
        <div class="header_superior">
            <div class="logo">
                <a [routerLink]="['/']">  <img src="../../../assets/images/logo-lab-largo.png" alt=""></a>
              
            </div>
            <div class="search">
                <input type="search" placeholder="¿Que deseas buscar?">
            </div>
        </div>
        <div class="container_menu">
            <div class="menu">
                <nav>
                    <ul>
                        <li><a [routerLink]="['/']">Inicio</a></li>
                        <li><a [routerLink]="['/servicios']">Servicios</a>
                            <ul>
                                <li><a  [routerLink]="['/marca']">Marca </a></li>
                                <li><a  [routerLink]="['/publicidadexterior']">Publicidad exterior </a></li>
                                <li><a  [routerLink]="['/impresos']">Impresos </a></li>
                                <li><a  [routerLink]="['/digitalweb']">Digital web</a></li>
                                <li><a  [routerLink]="['/fotografia']">Fotografia </a></li>
                                <li><a  [routerLink]="['/animaciondigital']">Animacion digital</a></li>
                                <li><a  [routerLink]="['/infoarquitectura']">Infoarquitectura</a></li>
                                <li><a  [routerLink]="['/videopordron']">video por dron</a></li>
                            </ul>
                        </li>
                        <li><a  [routerLink]="['/nosotros']">Nosotros</a></li>
                        <li><a [routerLink]="['/contactos']">Contact</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </header>


    <div class="container">
        <input type="checkbox" id="btn-mas">
        <div class="redes">
            <a  [routerLink]="['/']"class="iconos"><img src="../../../assets/images/contraccion-nerviosa.png" alt=""></a>
            <a  [routerLink]="['/']"class="iconos"><img src="../../../assets/images/instagram.png" alt=""></a>
            <a [routerLink]="['/']" class="iconos"><img src="../../../assets/images/facebook.png" alt=""></a>
            <a  [routerLink]="['/']"class="iconos"><img src="../../../assets/images/gorjeo.png" alt=""></a>
        </div>
        <div class="btn-mas">
            <label for="btn-mas" class="fa fa-plus"></label>
        </div>
    </div>
</body>
</html>

