<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- en este espacio estan los contenedores de header principal del home main -->
    <header> 
        <div class="header_superior">
            <div class="logo">
                <img src="../../../assets/images/logo-lab-largo.png" alt="">
            </div>
            <div class="search">
                <input type="search" placeholder="¿Que deseas buscar?">
            </div>
        </div>
        <div class="container_menu">
            <div class="menu">
                <nav>
                    <ul>
                        <li><a [routerLink]="['/inicio']">Inicio</a></li>
                        <li><a [routerLink]="['/servicios']">Servicios</a>
                            <ul>
                                <li><a href="#">Marca </a></li>
                                <li><a href="#">Publicidad exterior </a></li>
                                <li><a href="#">Impresos </a></li>
                                <li><a href="#">Digital web</a></li>
                                <li><a href="#">Fotografia </a></li>
                                <li><a href="#">Animacion digital</a></li>
                            </ul>
                        </li>
                        <li><a  [routerLink]="['/nosotros']">Nosotros</a></li>
                        <li><a  [routerLink]="['/portafolio']">Portafolio</a></li>
                        <li><a href="#">Cursos</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </header>
</body>
</html>