<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  

    <!-- presentacion logo  -->
    
    <main >
        <section class="precentation container">
            <img src="../../../assets/images/7.JPG.jpg" alt="" class="precentation_picture">
            <h2 class="subtitle"> Laboratorio De Contendios Digitales </h2>
            <p class="precentacion_copy">“Economía Creativa y, a través de ella, aumentar la innovación, generar empleo, incentivar la inversión pública y privada, recuperar el patrimonio cultural material e inmaterial de la nación, promover la conservación ambiental, transferir conocimientos, crear y consolidar el sentido de pertenencia en los territorios, desarrollar mecanismos de inclusión social y acceso ciudadano a la oferta cultural y creativa, así como recuperar el tejido social y económico del país”</p>
 
        </section>    
        
        
        <!-- contenedores de imgenes y textos   -->
        <section class="about container">
            <div class="about_text">
                <h2 class="subtitle">Grabación</h2>
                <p class="about_paragraph">Este es nuestro estudio de grabación, es una sala insonorizada para grabar. El estudio de grabación cuenta con equipo técnico y talento humano para transformar voces, armonía, melodías, timbre, tonos y también se realiza edición de audio para el singles publicitarios como también cadenas de audio por. WhatsApp y podcast muchas otras funciones para realzar el trabajo creado en la sala.</p>
               
            </div>
            <figure class="about_img">
                <img src="../../../assets/images/DSC_3191.JPG" alt="" class="about_picture">
            </figure>
            <figure class="about_img about_img--left">
                <img src="../../../assets/images/DSC_3176.JPG" alt="" class="about_picture">
            </figure>

            <div class="about_text">
                <h2 class="subtitle">Laboratorio</h2>
            
                <p class="about_paragraph">Este es el laboratorio de contenidos donde puedes trabajar diseño y desarrollo de software y la red de Artes Gráficas, donde se enmarca el área de contenidos digitales con la producción de diseño gráfico, multimedia, interactivo, fotografía, ilustración, diseño de videojuegos, diseño editorial, marketing digital, creación de marca y producción de sistemas de impresión: offset, flexo grafía, serigrafía, impresión digital, etc..</p>
            </div>

        </section>  

        
        <!-- collage de imagenes  -->

        <section class="proyect">
            <div class="container">
                <h2 class="subtitle">Espacios de trabajos</h2>
                <div class="projects_grid">
                    <article class="projects_item">
                        <img src="../../../assets/images/DSC_3202.JPG" alt="" class="projects_img">
                        <div class="projecs_hover">
                            <h2 class="projects_title">Espacios de trabajó</h2>
                            <i class="far fa-file-alt projects_icon"></i>
                        </div>
                    </article>
                    <article class="projects_item">
                        <img src="../../../assets/images/DSC_3174.JPG" alt="" class="projects_img">
                        <div class="projecs_hover">
                            <h2 class="projects_title">Espacios de trabajó</h2>
                            <i class="far fa-file-alt projects_icon"></i>
                        </div>
                    </article>
                    <article class="projects_item">
                        <img src="../../../assets/images/DSC_3176.JPG" alt="" class="projects_img">
                        <div class="projecs_hover">
                            <h2 class="projects_title">Espacios de trabajó</h2>
                            <i class="far fa-file-alt projects_icon"></i>
                        </div>
                    </article>
                    <article class="projects_item">
                        <img src="../../../assets/images/DSC_3178.JPG" alt="" class="projects_img">
                        <div class="projecs_hover">
                            <h2 class="projects_title">Espacios de trabajó</h2>
                            <i class="far fa-file-alt projects_icon"></i>
                        </div>
                    </article>
                    <article class="projects_item">
                        <img src="../../../assets/images/DSC_3186.JPG" alt="" class="projects_img">
                        <div class="projecs_hover">
                            <h2 class="projects_title">Espacios de trabajó</h2>
                            <i class="far fa-file-alt projects_icon"></i>
                        </div>
                    </article>

                </div>
            </div>
        </section>

         <!-- cometarios  -->
         
   
    </main>
  
</body>
</html>
