<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  

    <!-- presentacion logo  -->
    
    <main >
        <section class="precentation container">
            <img src="../../../assets/images/7.JPG.jpg" alt="" class="precentation_picture">
            <h2 class="subtitle"> precentacion del logo titulo</h2>
            <p class="precentacion_copy">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto itaque repellat quam, accusamus nemo ab sunt ea fugit quidem ex tempore magni. Quas cum, omnis similique ad accusantium perferendis sint!</p>
            <a href="#" class="buton_precentation">Cambio boton</a>
        </section>    
        
        
        <!-- contenedores de imgenes y textos   -->
        <section class="about container">
            <div class="about_text">
                <h2 class="subtitle">Cambio de titulo</h2>
                <p class="about_paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero beatae tempora velit sapiente harum voluptas laudantium blanditiis dolores amet quasi dicta impedit, labore earum ex excepturi ipsa esse dolorum quo.</p>
                <p class="about_paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero beatae tempora velit sapiente harum voluptas laudantium blanditiis dolores amet quasi dicta impedit, labore earum ex excepturi ipsa esse dolorum quo.</p>
            </div>
            <figure class="about_img">
                <img src="../../../assets/images/DSC_3191.JPG" alt="" class="about_picture">
            </figure>
            <figure class="about_img about_img--left">
                <img src="../../../assets/images/DSC_3176.JPG" alt="" class="about_picture">
            </figure>

            <div class="about_text">
                <h2 class="subtitle">cambio de titulo</h2>
                <p class="about_paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero beatae tempora velit sapiente harum voluptas laudantium blanditiis dolores amet quasi dicta impedit, labore earum ex excepturi ipsa esse dolorum quo.</p>
                <p class="about_paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero beatae tempora velit sapiente harum voluptas laudantium blanditiis dolores amet quasi dicta impedit, labore earum ex excepturi ipsa esse dolorum quo.</p>
            </div>

        </section>  

        
        <!-- collage de imagenes  -->

        <section class="proyect">
            <div class="container">
                <h2 class="subtitle">Espacios de trabajo</h2>
                <div class="projects_grid">
                    <article class="projects_item">
                        <img src="../../../assets/images/DSC_3202.JPG" alt="" class="projects_img">
                        <div class="projecs_hover">
                            <h2 class="projects_title">Espacios de tabajos</h2>
                            <i class="far fa-file-alt projects_icon"></i>
                        </div>
                    </article>
                    <article class="projects_item">
                        <img src="../../../assets/images/DSC_3174.JPG" alt="" class="projects_img">
                        <div class="projecs_hover">
                            <h2 class="projects_title">Espacios de tabajos</h2>
                            <i class="far fa-file-alt projects_icon"></i>
                        </div>
                    </article>
                    <article class="projects_item">
                        <img src="../../../assets/images/DSC_3176.JPG" alt="" class="projects_img">
                        <div class="projecs_hover">
                            <h2 class="projects_title">Espacios de tabajos</h2>
                            <i class="far fa-file-alt projects_icon"></i>
                        </div>
                    </article>
                    <article class="projects_item">
                        <img src="../../../assets/images/DSC_3178.JPG" alt="" class="projects_img">
                        <div class="projecs_hover">
                            <h2 class="projects_title">Espacios de tabajos</h2>
                            <i class="far fa-file-alt projects_icon"></i>
                        </div>
                    </article>
                    <article class="projects_item">
                        <img src="../../../assets/images/DSC_3186.JPG" alt="" class="projects_img">
                        <div class="projecs_hover">
                            <h2 class="projects_title">Espacios de tabajos</h2>
                            <i class="far fa-file-alt projects_icon"></i>
                        </div>
                    </article>

                </div>
            </div>
        </section>

         <!-- cometarios  -->
         
        <section class="testimony container" >
            <h2 class="subtitle">¿que dicen sobre nosotros?</h2>
            <div class="testimony_grid">
                <article class="testimony_item">
                    <div class="testimony_person">
                        <img src="../../../assets/images/DSC_3196.JPG" alt="" class="testimony_img">
                        <div class="testimony_texts">
                            <h3 class="testimony_name">Cambio</h3>
                            <p class="testimony_verification">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quia rerum voluptas! In hic accusantium, molestiae minus quaerat necessitatibus ipsum sunt obcaecati doloremque vel mollitia ad incidunt praesentium labore dolores.</p>
                        </div>
                    </div>
    
                </article>
                <article class="testimony_item">
                    <div class="testimony_person">
                        <img src="../../../assets/images/DSC_3196.JPG" alt="" class="testimony_img">
                        <div class="testimony_texts">
                            <h3 class="testimony_name">Cambio</h3>
                            <p class="testimony_verification">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quia rerum voluptas! In hic accusantium, molestiae minus quaerat necessitatibus ipsum sunt obcaecati doloremque vel mollitia ad incidunt praesentium labore dolores.</p>
                        </div>
                    </div>
    
                </article>
            </div>
            

        </section>
    </main>
  
</body>
</html>
