<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <section class="portafolio">
		<h1>Nuestro Portafolio</h1>
		<div class="portafolio-container">
			<section class="portafolio-item">
				<img src="../../../assets/images/DSC_3176.JPG" alt="" class="portafolio-img">
				<section class="portafolio-text">
					<h2>Lorem ipsum</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam distinctio illum iure facilis cumque saepe, dolorem, minus praesentium maiores id.</p>
				</section>
			</section>
			<section class="portafolio-item">
				<img src="../../../assets/images/DSC_3179.JPG" alt="" class="portafolio-img">
				<section class="portafolio-text">
					<h2>Lorem ipsum</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam distinctio illum iure facilis cumque saepe, dolorem, minus praesentium maiores id.</p>
				</section>
			</section>
			<section class="portafolio-item">
				<img src="../../../assets/images/DSC_3177.JPG"  alt="" class="portafolio-img">
				<section class="portafolio-text">
					<h2>Lorem ipsum</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam distinctio illum iure facilis cumque saepe, dolorem, minus praesentium maiores id.</p>
				</section>
			</section>
            <section class="portafolio-item">
				<img src="../../../assets/images/DSC_3177.JPG"  alt="" class="portafolio-img">
				<section class="portafolio-text">
					<h2>Lorem ipsum</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam distinctio illum iure facilis cumque saepe, dolorem, minus praesentium maiores id.</p>
				</section>
			</section>
		</div>
	</section>
    
</body>
</html>
