<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		
		<!-- estilos  -->
		<link rel="stylesheet" href="publicidad-exterior.component.css" />
		
		<title>Pagina-web-css-grid</title>
	</head>
	<body>
		<div class="container">
			<header class="header" id="headerr">
				<div class="titulo proyecto">
					<h1>PROYECTO Sena</h1>
				</div>

				<div class="logo1">
					<img src="./img/logo.png" alt="" />
				</div>

			
			<!-- ___________________________________________ -->

			<main class="main">
				<div class="cuerpo">
					<div class="slider bodiy" id="inicio">
						<!-- es como el body -->
						<div class="conte-all">
							<!-- si no funciona quitalo -->
							<!-- carrucel ------>

							<input type="radio" id="1" name="imagen-slide" hidden />
							<input type="radio" id="2" name="imagen-slide" hidden />
							<input type="radio" id="3" name="imagen-slide" hidden />

							<div class="slide">
								<!-- 	<div id="conteitemscarrucel">
                              <div class="itemcarrusel" id="itemcarrusel-1">
                                 <div class="targetascarrucel" id="targetacarrucel-1">A</div>
                                 <div class="flechascarrucel">
                                    <a href="#itemcarrusel-3">
                                       <i><img src="./img/anterior.svg" alt="" /></i>
                                    </a>
                                    <a href="#itemcarrusel-2">
                                       <i><img src="./img/siguiente.svg" alt="" /></i>
                                    </a>
                                 </div>
                              </div>
                              <div class="itemcarrusel" id="itemcarrusel-2">
                                 <div class="targetascarrucel" id="targetacarrucel-2">B</div>
                                 <div class="flechascarrucel">
                                    <a href="#itemcarrusel-1">
                                       <i><img src="./img/anterior.svg" alt="" /></i>
                                    </a>
                                    <a href="#itemcarrusel-3">
                                       <i><img src="./img/siguiente.svg" alt="" /></i>
                                    </a>
                                 </div>
                              </div>
                              <div class="itemcarrusel" id="itemcarrusel-3">
                                 <div class="targetascarrucel" id="targetacarrucel-3">C</div>
                                 <div class="flechascarrucel">
                                    <a href="#itemcarrusel-2">
                                       <i><img src="./img/anterior.svg" alt="" /></i>
                                    </a>
                                    <a href="#itemcarrusel-1">
                                       <i><img src="./img/siguiente.svg" alt="" /></i>
                                    </a>
                                 </div>
                              </div>
                           </div>
                           <div id="contepuntos">
                              <a href="#itemcarrusel-1"></a>
                              <a href="#itemcarrusel-2"></a>
                              <a href="#itemcarrusel-3"></a>
                           </div> -->
								<div class="item-slide">
									<a
										href="https://aciem.org/project/desarrollo-de-negocios-basados-en-ctei-ciencia-tecnologia-e-innovacion-parte-ii/"
									target="_blank"
										><img src="./img/slider1.png" alt=""
									/></a>
								</div>
								<div class="item-slide">
									<a href="https://cumbrepetroleoygas.com/" target="_blank"
										><img src="./img/slider2.png"
									/></a>
								</div>
								<div class="item-slide">
									<a href="https://aciem.org/home/" target="_blank"
										><img src="./img/slider3.png"
									/></a>
								</div>
							</div>
							<div class="pagination">
								<label class="pagination-item" for="1">
									<img src="./img/slider1.png" />
								</label>
								<label class="pagination-item" for="2">
									<img src="./img/slider2.png" />
								</label>
								<label class="pagination-item" for="3">
									<img src="./img/slider3.png" />
								</label>
							</div>
						</div>
						<!-- fin conteall -->
					</div>

					<!-- cursos  -->
					<div class="cursos" id="cursos">
						<h2>TENEMOS LOS MEJORES CURSOS PARA TI</h2>

						<div class="targetas">
							<div class="targetascar1">
								<img src="./img/curso1.png" alt="" />
								<div class="servicios">
									<h2>Curso 1</h2>
								</div>
								<div class="titulocar">
									<h3>Gestion empresarial</h3>
									<p>
										Lorem ipsum, dolor sit amet consectetur adipisicing elit.
										Odio, minima! Dolores totam eius earum natus laboriosam
										voluptates dignissimos et, doloribus nisi. Quisquam corporis
										vel, dicta magnam accusantium veniam vero omnis?
									</p>
								</div>
								<div class="leermas">
									<a
										href="https://oferta.senasofiaplus.edu.co/sofia-oferta/buscar-oferta-educativa.html?radio=opcion201&ofertaDisponible=on"
										target="_blank"
										>Acceder
									</a>
								</div>
							</div>
							<div class="targetascar2">
								<img src="./img/curso2.png" alt="" />
								<div class="servicios">
									<h2>Curso 2</h2>
								</div>
								<div class="titulocar">
									<h3>
										Desarrollo y analisis de sistemas de la informacion
									</h3>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit.
										Mollitia repudiandae delectus deserunt quas molestiae magni
										aspernatur obcaecati, alias fuga officia, numquam debitis
										nam. Qui, labore. Aut veritatis doloribus laudantium quam?
									</p>
								</div>
								<div class="leermas">
									<a
										href="https://www.sena.edu.co/es-co/Paginas/default.aspx"
										target="_blank"
										>Acceder
									</a>
								</div>
							</div>
							<div class="targetascar3">
								<img src="./img/curso3.png" alt="" />
								<div class="servicios">
									<h2>Curso 3</h2>
								</div>
								<div class="titulocar">
									<h3>Manipulacion de alimento</h3>
									<p>
										Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Eaque est accusantium blanditiis. Aliquid magni tempora
										reiciendis minima, voluptatum ex minus. Possimus unde maxime
										dolorem commodi similique sapiente dolorum distinctio sed?
										dolorem commodi similique
									</p>
								</div>
								<div class="leermas">
								
							</div>
						</div>
					</div>
				</div>
			

			<footer class="footer" id="contactos">
				<div class="mensaje">
					<div class="logoo"><img src="./img/logo.png" alt="" /></div>
					<div class="loremm">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
					</div>
				</div>
				<div class="siguenos">
					<h3>siguenos en</h3>
					<div class="log">
						<div class="icom">
							<img src="./img/icom-facebook.svg" alt="" class="facebook" />
						</div>
						<div class="icom">
							<img src="./img/-instagram.svg" alt="" class="instagram" />
						</div>
						<div class="icom">
							<img src="./img/icomyoutube.svg" alt="" class="youtuve" />
						</div>
					</div>
				</div>
			</footer>
		</div>
	
