<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div class="ful-img" id="fulImgBox">
		<img src="../../../assets/publicidad-exterior/Recurso 2.png" id="fulImg" alt="">
		<span onclick="closeImg()">x</span>
   </div>
 <h1>Publicidad exterior</h1>
 <div class="img-gallery">
   <img src="../../../assets/publicidad-exterior/Recurso 2.png"  onclick="openFulImg(this.src)" alt="">
   <img src="../../../assets/publicidad-exterior/Recurso 7.png" onclick="openFulImg(this.src)"  alt="">
   <img src="../../../assets/publicidad-exterior/Recurso 8.png" onclick="openFulImg(this.src)"  alt="">
 </div>
</body>
</html>