<!DOCTYPE html>
<html lang="es">
<head>
 <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta charset="UTF-8">
  <title>Galería</title>
</head>
<body>

  <div class="ful-img" id="fulImgBox">
    <img src="../../../assets/marca/Logo avifauna nuevo.png" id="fulImg" alt="">
    <span onclick="closeImg()">x</span>
  </div>
  <h1>Animacion digital</h1>
  <div class="img-gallery">
  <img src="../../../assets/animacion-digital/Modelado nuevo.png"  onclick="openFulImg(this.src)" alt="">
  <img src="../../../assets/animacion-digital/Recurso 4.png" onclick="openFulImg(this.src)"  alt="">
  <img src="../../../assets/animacion-digital/Recurso 5.png" onclick="openFulImg(this.src)"  alt="">
  <img src="../../../assets/animacion-digital/Recurso 6.png" onclick="openFulImg(this.src)"  alt="">
  
  </div>
  
</body>
</html>