<!DOCTYPE html>
<html lang="es">
<head>
 <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta charset="UTF-8">
  <title>Galería</title>
</head>
<body>

  <h1>Animacion Digital</h1>

  <div class="container">
   
    <div class="item">
      <img src="../../../assets/animacion-digital/7.JPG.jpg" alt="" class="item-img">
      <div class="item-text">
        <h3>Imagen 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </div>
    
    <div class="item">
      <img src="../../../assets/animacion-digital/planos_abuela_grillo_frente (1).jpg" alt="" class="item-img">
      <div class="item-text">
        <h3>Imagen 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </div>
    
    <div class="item">
      <img src="../../../assets/animacion-digital/planos_abuela_grillo_frente.jpg" alt="" class="item-img">
      <div class="item-text">
        <h3>Imagen 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </div>
    
    <div class="item">
      <img  src="../../../assets/impresos/Afiche_Los_Animales_y_el_Titiritero_v3_copia.jpg"alt="" class="item-img">
      <div class="item-text">
        <h3>Imagen 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur. hola perdon la imagen no dio el largo lo siento att: Fabio :DDD</p>
      </div>
    </div>
    
    
    <div class="item">
      <img src="../../../assets/animacion-digital/uniforme_El.JPG.jpg" alt="" class="item-img">
      <div class="item-text">
        <h3>Imagen 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </div>
    
    <div class="item">
      <img src="../../../assets/animacion-digital/uniforme_ella_2.JPG.jpg" alt="" class="item-img">
      <div class="item-text">
        <h3>Imagen 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </div>
    <div class="item">
      <img src="../../../assets/animacion-digital/descarga.jpg" alt="" class="item-img">
      <div class="item-text">
        <h3>Escuela nacional del cafe </h3>
        <p>date un recorrido por las intalaciones de la escuela nacional del cafe en el siguiente enlace: </p>
        <a href="https://www.google.com/maps/place/Escuela+Nacional+De+La+Calidad+Del+Caf%C3%A9/@4.5705731,-75.6425689,3a,75y,60.35h,78.97t/data=!3m8!1e1!3m6!1sAF1QipMAB6wv8oaqytJd9Q1qnzykJEkQHKknYqpa7WvR!2e10!3e11!6shttps:%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipMAB6wv8oaqytJd9Q1qnzykJEkQHKknYqpa7WvR%3Dw224-h298-k-no-pi-10-ya220-ro0-fo100!7i7004!8i3502!4m11!1m2!2m1!1sescuela+nacional+del+cafe!3m7!1s0x8e38f4b82031136d:0xda45a173f55c7806!8m2!3d4.5705731!4d-75.6425689!14m1!1BCgIgARICCAI!15sChllc2N1ZWxhIG5hY2lvbmFsIGRlbCBjYWZlkgEGc2Nob29s4AEA">Observar Aqui</a>
      </div>
    </div>
  </div>
  
</body>
</html>