<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
  
    <section class="portafolio">
        <div class="portafolio-container">
            <section class="portafolio-item">
                <a  [routerLink]="['/marca']">
                    <img src="../../../assets/images/etiqueta-de-precio.png" alt="" >
                    <section class="portafolio-text">
                        <h2>Marca</h2>
                    </section>
                </a>
                
            </section>
            <section class="portafolio-item">
                <a  [routerLink]="['/publicidadexterior']" >
                    <img src="../../../assets/images/etiqueta-de-precio.png" alt="" >
                    <section class="portafolio-text">
                        <h2>Publicidad exterior</h2>
                    </section>
                </a>
            </section>
            <section class="portafolio-item">

                <a [routerLink]="['/impresos']" >
                    <img src="../../../assets/images/etiqueta-de-precio.png" alt="" >
                    <section class="portafolio-text">
                        <h2>Impresos</h2>
                    </section>
                </a>
               
            </section>
            <section class="portafolio-item">
                
                <a  [routerLink]="['/digitalweb']" >
                    <img src="../../../assets/images/etiqueta-de-precio.png" alt="" >
                    <section class="portafolio-text">
                        <h2>Digital Web</h2>
                    </section>
                </a>

            </section>
                <section class="portafolio-item">
    
                <a [routerLink]="['/fotografia']">
                    <img src="../../../assets/images/etiqueta-de-precio.png" alt="" >
                    <section class="portafolio-text">
                        <h2>Fotografia</h2>
                    </section>
                </a>
               
               
            </section>
            <section class="portafolio-item">

                <a  [routerLink]="['/animaciondigital']">
                    <img src="../../../assets/images/etiqueta-de-precio.png" alt="" >
                    <section class="portafolio-text">
                        <h2>Animacion Digital</h2>
                    </section>
                </a>

            </section>
            <section class="portafolio-item">

                <a [routerLink]="['/infoarquitectura']">
                    <img src="../../../assets/images/etiqueta-de-precio.png" alt="" >
                    <section class="portafolio-text">
                        <h2>Infoarquitectura</h2>
                    </section>
                </a>

            </section>
            <section class="portafolio-item">

                <a [routerLink]="['/videopordron']">
                    <img src="../../../assets/images/etiqueta-de-precio.png" alt="" >
                    <section class="portafolio-text">
                        <h2>Video por Dron</h2>
                    </section>
                </a>

            </section>
            
    
        </div>
    </section>

 
    
</body>
</html>
