<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="contenidos-paginas">
        <div id="centro3">
            <h2 class="encabezados">Contacta con Nosotros</h2>
         
            <div class="franja"></div>
    
            <div id="contenido-nosotros">
                
                <div id="izquierda">
                    <p class="descripcion-pagina texto-contacto">
                        Si necesita contactarnos para una solicitud o simplemente dejar su comentario, puede hacer clic en el botón "Contáctenos" y dejar su mensaje. Anexo a esto
                        tenemos nuestras líneas telefonicas al que puedes llamar<br>
                        Telélefono: <strong>2626-2626</strong><br>
                        Celular: <strong>7575-7575</strong><br>
                        Email: <strong> <a href="mailto:camiloser2004@gmail.com">Contactanos</a></strong><br>
                       
                    </p>
                </div>	
    
    
                <div id="derecha">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3977.293798460866!2d-75.67064658467436!3d4.541039944284341!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e38f5aaa70689d1%3A0x46074d66ee20f3a2!2sSENA%20Centro%20de%20comercio%20y%20turismo!5e0!3m2!1ses!2sco!4v1665759581090!5m2!1ses!2sco" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
    
            </div>
        </div>
                
    
    </div>

</body>
</html>



