
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <!-- carrusel -->

    <div id="banner">

    
        <video loop muted autoplay preload="auto" id="video">
    
            <source src="../../../assets/images/video fondo.mp4"> 
    
        </video>
    
        <div class="content">
    
            <h1>Laboratorio de contenidos digitales</h1>
            <h2>centro de comercio y Turismo - Regional quindio</h2>
    
        </div>
    
    </div>

        
            

    <!-- textos-->
    <div class="descripcion">
        <div class="contenedor">
            <h1>Que ofrecemos</h1>
            <p>El laboratorio de contenidos digitales del Centro de Comercio y Turismo se enmarcó desde el 2016 como una estrategia que permitiera a los aprendices del centro de formación, fortalecer sus habilidades en el área de contenidos digitales, empezar a establecer una conexión directa entre la etapa lectiva con la etapa práctica, y potenciar lazos con el sector empresarial. En 2018 esta propuesta se alinea al plan nacional de desarrollo y se enmarca en las políticas de economía naranja, permitiendo por medio de SENNOVA, darle forma y vida al proyecto.</p>
        </div>
    
    </div>
    <!-- franja -->

    <section class="inicio" id="inicio">
        <div class="content">
            <h1>Bienvenidos al <span>Laboratorio de contenidos</span></h1>
            <p>
                La intención inicial con la cual se comenzó el proyecto, más allá de adquirir equipos especializados, fue visionar que los aprendices pudieran ser vinculados al laboratorio para su etapa práctica ofreciendo un paquete de servicios creativos al sector empresarial y al mismo centro de formación debido a que, anteriormente los aprendices desarrollaban su etapa práctica en empresas que no tenían nada que ver con las funciones técnicas de los aprendices, proceso que se ha mejorado en los últimos años con la revisión y seguimiento de dicha etapa, haciendo posible que la mayoría de aprendices lleguen a funciones propias  de las competencias desarrolladas por el programa de formación. 
            </p>

        </div>
        <div class="image">
            <img src="../../../assets/images/logo-lab-largo.png" alt="" />
        </div>
    </section>

    <!-- cards-->
    
    <h1 class="title">Fundadores</h1>
    <div class="container">
        <div class="card">
            <img src="../../../assets/images/DSC_3176.JPG" alt="">
            <h4>Falta</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque qui accusamus delectus ab aut quasi eos aliquam ut eligendi recusandae.</p>
            <a href="#">Leer mas</a>
        </div>
        <div class="card">
            <img src="../../../assets/images/DSC_3176.JPG" alt="">
            <h4>Falta</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque qui accusamus delectus ab aut quasi eos aliquam ut eligendi recusandae.</p>
            <a href="#">Leer mas</a>
        </div>
        <div class="card">
            <img src="../../../assets/images/DSC_3176.JPG" alt="">
            <h4>Falta</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque qui accusamus delectus ab aut quasi eos aliquam ut eligendi recusandae.</p>
            <a href="#">Leer mas</a>
        </div>
    </div>

    

    <!-- footer -->

    <div class="franja"></div>

    <footer>
        <div class="container__footer">
            <div class="box__footer">
                <div class="terms">
                    <p>
                      Este LAB se gestó durante 6 años, planeando y proyectando las necesidades propias del sector, con una primera fase de montaje con equipos de cómputo, una segunda fase de ampliación de infraestructura con equipos audiovisuales y una tercera fase con equipos para la fábrica de software. En la fase actual, tanto aprendices como instructores fortalecen conocimiento, amplían sus horizontes creativos y técnicos, al tiempo que, desarrollan soluciones para el centro de formación y empresario de la región.
                    </p>
                    
                </div>
            </div>
        
        

            <div class="box__footer">
                <h2>Redes Sociales</h2>
                <a href="#" target="_blank">
                    <i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="https://twitter.com/Elsanti21rh?s=09" target="_blank"><i class="fab fa-twitter-square"></i>
                    Twitter</a>
                <a href="#" target="_blank"><img
                        src=".././../../assets/images/instagramIcon.png" class="igIcon" />
                    Instagram</a>
                <a href="#"
                    target="_blank"><img src="../../../assets/images/email.png" class="gmailIcon" />
                    Gmail</a>
            </div>
        
            
        </div>

        <div class="box__copyright">
            <hr />
            <p>Todos los derechos reservados © 2022 <b>Sena</b></p>
        </div>
    </footer>


</body>
</html>



