<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>foto sena </title>
</head>
<body>
	<div class="ful-img" id="fulImgBox">
		<img src="../../../assets/fotografia/Recurso 12.png" id="fulImg" alt="">
		<span onclick="closeImg()">x</span>
   </div>
 	<h1>Marca</h1>
 	<div class="img-gallery">
		<img src="../../../assets/fotografia/Recurso 12.png"  onclick="openFulImg(this.src)" alt="">
		<img src="../../../assets/fotografia/Recurso 13.png" onclick="openFulImg(this.src)"  alt="">
		<img src="../../../assets/fotografia/Recurso 15.png" onclick="openFulImg(this.src)"  alt="">
		<img src="../../../assets/fotografia/Recurso 16.png" onclick="openFulImg(this.src)"  alt="">
 	</div>

</body>
</html>