<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>foto sena </title>
</head>
<body>
    <section class="Senagalan">
		<h1>Foto sena</h1>
		<div class="portafolio-container">
			<section class="portafolio-item">
				<img src="../../../assets/fotografia/fotografia.png" alt="" class="portafolio-img">
				<section class="portafolio-text">
					<h2>Descripcion</h2>
					<p>No hay descripcion fija, es solo una foto del sena.</p>
				</section>
			</section>
		</div>
	</section>
</body>
</html>