*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
	width: 100%;
}

body{
	background: #E2E2E2;
	font-family: "Lato";
}

.Senagalan{
	width: 90%;
	max-width: 1400px;
	margin: auto;

	padding:  5% 0;
  
}


